{% extends 'club_templates/club_content.html' %}
{% load bootstrap_pagination %}
{% block club_content %}
    <div class="container">
        <div class="row">
            <h2>Members</h2>
            <input type="search" id="search-input" class="form-control m-2 mb-3" placeholder="Find a member"/>
            <p class="text-danger" id="message" hidden>No member with the entered name!</p>
            <div class="col-12">
                <table class="table" id="table">
                    {% for member in members %}
                        <div class="member-row" id="{{ member.user.full_name }}">
                            <div class="card my-1 shadow-sm">
                                <div class="d-flex justify-content-evenly align-items-center">
                                    <div class="d-flex justify-content-start col-10 align-items-center">
                                        <img src="{{ member.user.mini_gravatar }}"
                                             alt="Gravatar of {{ member.user.username }}"
                                             class="rounded-circle profile-image mx-2">
                                        <div class="d-flex flex-column justify-content-center my-2 mx-1">
                                            <div>
                                                <h5 class="profile-title mb-0">{{ member.user.full_name }}</h5>
                                                <span class="badge rounded-pill bg-info my-0 mx-0">{{ member.role }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'show_user' club_id member.user.id %}" class="btn btn-primary"
                                       style="float: right;"></i>View</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script>
        const searchButton = document.getElementById('search-button');
        const searchInput = document.getElementById('search-input');
        const message = document.getElementById('message');
        var listRows = document.getElementsByClassName("member-row")
        var found = false;

        // Action taken when search input changes.
        searchInput.addEventListener('input', (e) => {
            found = e.target.value == '';
            message.hidden = true;
            reloadTable();
            const inputValue = searchInput.value.toLowerCase();
            for (row of listRows) {
                var fname = row.id.toLowerCase();
                if (!fname.startsWith(inputValue)) {
                    row.hidden = true;
                } else {
                    found = true;
                }
            }
            if (!found) {
                message.hidden = false;
            }
        });

        function reloadTable() {
            for (row of listRows) {
                row.hidden = false;
            }
        }
    </script>
{% endblock %}